<script src="../scripts/google-analytics.js"></script>

<body>
<div id="wrap">
    <div id="main-header">
        <div class="container">
            <div id="main-title" class="row text-center">
                <h1 style="color:#ffffff">Jarrod Toh</h1>

                <h4 style="color:#ffffff">Web Technologist | Data Geek | Photography Enthusiast</h4>
            </div>
            <div class="navbar navbar-custom">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Blog <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Latest</a></li>
                            <li><a href="#">Technology</a></li>
                            <li><a href="#">Misc</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Site</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="profile-img">
                <img src="./images/profile.jpg" class="img-circle" style="width:240px">
            </div>
        </div>
    </div>
    <div id="main-body">
        <div id="social-nav">
            <ul id="social-networking">
                <li class="facebook"><a href="http://www.facebook.com/jarrod.jh" target="_blank"></a></li>
                <li class="twitter"><a href="https://twitter.com/JarrodToh" target="_blank"></a></li>
                <li class="linkedin"><a href="http://sg.linkedin.com/pub/jarrod-toh/35/8b0/205/" target="_blank"></a>
                </li>
                <li class="github"><a href="https://github.com/jarrodtoh" target="_blank"></a></li>
                <li class="email"><a href="mailto:jarrod.toh@gmail.com"></a></li>
            </ul>
        </div>
    </div>
    <div id="main-about" class="container">
        <h2>About Jarrod Toh</h2>
        <hr>
        <p><b>Jarrod</b> is a web technologist from Singapore. He graduated with a Bachelor (Honours) in Computer
            Science from Nanyang Technological University in 2013. Having been introduced to web development in 2006, he
            has since become a web enthusiast.</p>

        <p>He is competent in both front-end and back-end development, particularly Django Framework and AngularJS
            Frontend Framework.</p>

        <p>For more information, please view his <a href="http://www.jarrodtoh.com/profile">Profile</a>.</p>
    </div>
    <div id="footer-wrap">
        <div class="container">
            <div id="footer-container" class="row-fluid">
                <div class="span12">
                    <div class="span4" style="width: 30%">
                        <h3>Featured</h3>
                        <hr>
                        <ul class="unstyled">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact & support</a></li>
                            <li><a href="#">Enterprise</a></li>
                            <li><a href="#">Site status</a></li>
                        </ul>
                    </div>
                    <div class="span4" style="width: 30%">
                        <h3>Archives</h3>
                        <hr>
                        <ul class="unstyled">
                            <li><a href="#">January 2013</a></li>
                            <li><a href="#">February 2013</a></li>
                            <li><a href="#">March 2013</a></li>
                            <li><a href="#">April 2013</a></li>
                        </ul>
                    </div>
                    <div class="span4" style="width: 30%">
                        <h3>Links</h3>
                        <hr>
                        <ul class="unstyled">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <p class="muted text-center" style="color:#ffffff">© 2013 Jarrod Labs. All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>