<div id="wrap">
    <div id="main-header">
        <div class="container">
            <div id="main-title" class="row text-center">
                <h1 style="font-family: 'Josefin Slab', serif;
text-transform: uppercase;color:#ffffff">Jarrod Toh</h1>

                <h4 style="font-family: 'Open Sans', sans-serif;color:#ffffff">Web Technologist | Data Geek | Photography Enthusiast</h4>
            </div>
            <nav class="navbar navbar-default navbar-custom" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#/profile/">Profile</a></li>
                        <li><a href="http://blog.jarrodtoh.com">Blog</a></li>
                        <li><a href="#/contact">Contact</a></li>
                        <li><a href="#">Site</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="row">
            <div class="profile-img">
                <img src="../images/1c56af6a.profile.jpg" class="img-responsive img-circle" style="width:240px">
            </div>
        </div>
    </div>
    <div id="main-body">
        <div id="social-nav">
            <ul id="social-networking">
                <li class="facebook"><a href="http://www.facebook.com/jarrod.jh" target="_blank"></a></li>
                <li class="twitter"><a href="https://twitter.com/JarrodToh" target="_blank"></a></li>
                <li class="linkedin"><a href="http://sg.linkedin.com/pub/jarrod-toh/35/8b0/205/" target="_blank"></a>
                </li>
                <li class="github"><a href="https://github.com/jarrodtoh" target="_blank"></a></li>
                <li class="email"><a href="mailto:jarrod.toh@gmail.com"></a></li>
            </ul>
        </div>
    </div>
    <div id="main-about" class="container">
        <h2>About Jarrod Toh</h2>
        <hr>
        <p><b>Jarrod</b> is a web technologist from Singapore. He is Final Year Undergraduate taking Bachelor (Honours) in Computer
            Science from Nanyang Technological University. Having been introduced to web development in 2006, he
            has since become a web enthusiast.</p>

        <p>He is competent in both front-end and back-end development, particularly Django Framework and AngularJS
            Frontend Framework.</p>

        <p>For more information, please view his <a href="#/profile/">Profile</a>.</p>
    </div>
    <div id="footer-wrap">
        <p class="muted text-center" style="padding-top: 20px">© 2013 Jarrod Labs. All rights reserved</p>
    </div>
</div>